#!/usr/bin/env bash

# General
### neoVim
alias v='nvim'
### Tmux
alias t='tmux'
### Clear
alias c='clear'
### Tmux Kill Session
alias tks='t kill-session -t '
### aws SSO Login
alias ssol='aws sso login --profile '
### Vim Wiki Open
alias vwo='cd ~/vimwiki && v index.md'
### go to previous directory
alias ..='cd ..'


# Config
### Config folder Open
alias co='cd ~/dotfiles && v'
### Config shell read Command Open
alias cco='v ~/dotfiles/.profile'
### Config Alias Open
alias cao='v ~/dotfiles/.aliases'
### Config neoVim Open
alias cvo='cd ~/dotfiles/.nvim && v'
### Config shell ReLoad read command
alias crl='source ~/.zshrc'


# Colima
### ColimA Start
alias cas='colima start --cpu 4 --memory 8'
### ColimA Start With Kubernetes
alias caswk='colima start --cpu 4 --memory 8'
### ColimA Terminate
alias cat='colima stop'


# Git
### Git Remote Prune Origin
alias grpo='git remote prune origin'


# Python
### Python Create Virtual environment folder
alias pcv='python3 -m venv .venv'
### AcTivate Virtual environment
alias atv='source .venv/bin/activate'
### DeAcTivate Virtual environment
alias datv='deactivate'
### Poetry Install
alias pi='poetry install'


# Coding For Fun
## Change directory
### change directory to Coding for Fun
alias cf="cd ~/code/personal/coding-for-fun-org"
### change directory to frontend
alias fe="cd frontend"


# Keen Decision System
## AWS
### Keen SSO
alias ksso='ssol jiyeol.lee'

## Change directory
### Keen WEB-mida directory
alias kweb='cd ~/code/keends/web-mida'

## Shell script
### Keen Start all backend Server
alias kss='~/code/keends/start_server.sh'
### Keen Terminate all backend Server
alias kts='~/code/keends/terminate_server.sh'
